$primary_color: rgb(255, 255, 255);
$bg_color: rgb(0, 89, 255);
$bg_color_mobile_menu: rgb(49, 49, 49);
$font_size_menu: 22px;
$brand_width:200px;
$brand_height:70px;
$icons_font_size_bar:40px;
$icons_font_size_close:40px;
$transition_left_menu: 0.5s;